<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <th:block th:replace="~{base :: page_head('Liste des produits')}"></th:block>
</head>
<body>

<div class="dashboard row" layout:fragment="content">

    <div th:replace="~{layouts/_sidebar::sidebar}"></div>

    <div class="col-lg-8 container py-5">
        <div class="pb-3">
            <ul class="nav nav-underline">
                <li class="nav-item d-flex align-items-center gap-2">
                    <a class="nav-link active" aria-current="page" href="#">Toute les Produits</a>
                    <span class="badge text-bg-secondary" th:text="${produits.size()}"></span>
                </li>
            </ul>
        </div>
        <div class="table-responsive">
            <table id="example" class="table-products">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Catégorie</th>
                    <th>Date expiration</th>
                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="produit : ${produits}">
                    <td th:text="${produit.nomProduit}"></td>
                    <td th:text="${produit.prixProduit}"></td>
                    <td th:text="${produit.categorieNom()}"></td>
                    <td th:text="${produit.dateExpiration}"></td>
                    <td>
                        <a th:href="@{/produit/edit/{id}(id=${produit.id})}" class="btn btn-success"><i
                                class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                           th:data-id="${produit.id}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Catégorie</th>
                    <th>Date expiration</th>
                    <th class="actions">Actions</th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>

</div>

<!-- Modal de confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cette catégorie ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <a href="#" id="confirmDelete" class="btn btn-danger">Oui</a>
            </div>
        </div>
    </div>
</div>

<!-- Inclusion du footer-->
<div th:replace="~{base::bas_de_page}"></div>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            language: {
                search: "Rechercher:",
                lengthMenu: "Afficher _MENU_ éléments"
            }
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var categoryId = button.data('id');
            var confirmDeleteBtn = $('#confirmDelete');
            confirmDeleteBtn.attr('href', '/produit/delete/' + categoryId);
        });
    })
</script>
</body>
</html>